Repository jenkinsci/implied-labels-plugin, pull requests merged in 2023-11, with the labels that each got.

#163 Require Jenkins 2.401.3 or newer
  pom.xml
Labels: chore

#164 Use ionicon instead of custom image on system panel
  pom.xml
  src/main/java/org/jenkinsci/plugins/impliedlabels/Config.java
  src/main/webapp/icons/48x48/attribute.png
  src/test/java/org/jenkinsci/plugins/impliedlabels/ConfigTest.java
Labels: enhancement

#165 Do not reset implied labels when saving global configuration
  src/main/java/org/jenkinsci/plugins/impliedlabels/ImpliedLabelsPlugin.java
  src/main/resources/org/jenkinsci/plugins/impliedlabels/ImpliedLabelsPlugin/config.jelly
Labels: bug
